body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid;
    border-color: #e6e1e1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Softer shadow on all sides */
    align-items: center;
    width: 29%;
    margin-right: 5px;
    margin-bottom: 5px;

}

.item p {
    padding: 20px;
    border: 2px solid #e6e1e1; 
    border-radius: 20px;
}

.item img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.item a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    body {
        display: block; /* Stack items vertically */
    }

    .item {
        width: 100%; /* Full width on smaller screens */
        margin-right: 0; /* Remove right margin */
        margin-bottom: 20px; /* Add some space between stacked items */
    }
}